@import '../functions';
@import '../variables';

// home page static hero with overlaid pack image and ;find out more button
// resources/views/main/home/home.blade.php
.hero{
	width:100%;
	div{
		position:relative;
		background-color:#000;
		img{
			position:absolute;
			&.main{
				left:0px;
				top:0px;
				width:100%;
				z-index:1;
			}
			&.pack{
				z-index:2;
			}
		}
		&.desktop{
			padding-top:58.3%; // 1086 / 1862
			img.pack{
				width:23%;
				height:auto;
				left:74%;
				top:43%;
			}
		}
		&.mobile{
			display:none;
			padding-top:100%; // square
			img.pack{
				width:23%;
				height:auto;
				left:74%;
				top:43%;
			}
		}
		a.wtb{
			position:absolute;
			left:50%;
			bottom:4rem;
			z-index:5;
			@include translateX();
			background-color:$black;
			color:$white;

			&:hover {
				color:darken($white,40%);
			}
		}
	}

	@media #{$small-and-medium-only} {
		&{
			div{
				&.desktop{
					display:none;
				}
				&.mobile{
					display:block;
					overflow:hidden;
					img{
						&.main{
							top:0px;
							width:140%;
							z-index:1;
							left:50%;
							@include translateX();
						}

						&.pack{
							width:23%;
							height:auto;
							left:50%;
							top:58%;
							@include translateX();
						}
					}
					a.wtb{
						bottom:1rem;
					}
				}
			}
		}
	}
}

.carousel {
	@include float-both();
	position:relative;
	overflow:hidden;
	width:100%;

	.shim {
		width:100%;
		@include float-both();
	}

	ul.slides {
		position:absolute;
		list-style:none;
		left:0; top:0;
		width:100%; height:100%;
		z-index:5;

		li {
			position:absolute;
			width:100%;

			img {
				width:100%;
			}

			// Position up to 5 slides off the screen.
			@for $i from 0 through 5 {
				&:nth-child(#{$i+1}) {
					left:($i * 100%);
				}
			}

			.wtb {
				position:absolute;
				left:50%;
				bottom:4rem;
				@include translateX();
				background-color:$black;
				color:$white;

				&:hover {
					color:darken($white,40%);
				}
			}
		}
	}

	ul.control {
		position:absolute;
		list-style:none;
		left:50%; bottom:1rem;
		@include translateX();
		text-align: center;
		width:auto;
		height:17px;
		z-index:10;

		li {
			float:left;
			display:block;
			width:17px; height:17px;
			margin-right:10px;
			background-image:url(/images/home/carousel-markers.png);
			background-size:34px 17px;
			cursor:pointer;

			@media #{$small-and-medium-only} {
				width:13px; height:13px;
				background-size:26px 13px;
				margin-right:7px;
			}

			&:last-child {
				margin-right:0;
			}

			&.active {
				background-position:-17px 0;
				cursor:default;

				@media #{$small-and-medium-only} {
					background-position:-13px 0;
				}
			}
		}
	}
}

@import 'partials/carousel';

.block-soothes {
	@include float-both();
	width:100%;
	margin-top:$base-pad;
	background:#00174b url(/images/blue-radial.jpg) no-repeat center center;
	background-size:cover;
	position:relative;

	@media #{$large-only} {
		margin-top:($base-pad * $scale-large);
	}

	@media #{$xlarge-only} {
		margin-top:($base-pad * $scale-xlarge);
	}

	@media #{$small-and-medium-only} {
		margin-top:$base-pad-mobile;
	}


	.left {
		position:absolute;
		left:30%; top:50%;
		@include translateXY();

		margin:-2% 0 0 0;
		width:50%;

		@media #{$small-and-medium-only} {
			position:relative;
			left:auto; top:auto;
			@include translateXY(0,0);
			float:left;

			width:96%;
			margin: 4rem 2%  3rem 2%;
		}

		h1 {
			text-transform:uppercase;
			font-size:3.8rem;
			line-height:120%;
			font-weight:bold;
			text-align: center;
			margin:0.5rem 0;
			
			font-family: $font-family-arial-black;

			@media #{$xlarge-only} {
				font-size:3.0rem;
			}

			@media #{$large-only} {
				font-size:3.5rem;
			}

			@media #{$small-and-medium-only} {
				font-size:2.8rem;
			}

			@media #{$small-only} {
				font-size:2rem;
			}
		}

		p {
			font-size:1.5rem;
			text-align: center;
			margin-top:0;
		}
	}

	.pack {
		width:36%;
		float:right;
		margin: 4.2rem 8% 2rem 0;

		@media #{$small-and-medium-only} {
			float:none;
			display:block;
			width:100%;
			max-width:587px;
			margin:0 auto 5rem auto;
		}

		img {
			width:100%;
		}

		p {
			text-align:center;
			font-size:1rem;
			margin:0;
			font-family: $font-family-arial-bold;
		}


	}

	.wtb {
		position:absolute;
		left:50%;
		bottom:1rem;
		@include translateX();
		background-color:$white;
		color:$black;
		text-align: center;

		&:hover {
			color:lighten($black,20%);
		}
	}
}

.block-toothache,
.block-mouth-ulcer {
	float:left;
	width:50%;
	@include border-box();
	margin-top:$base-pad;
	position:relative;
	overflow:hidden;

	@media #{$large-only} {
		margin-top:($base-pad * $scale-large);
	}

	@media #{$xlarge-only} {
		margin-top:($base-pad * $scale-xlarge);
	}

	@media #{$small-and-medium-only} {
		margin-top:$base-pad-mobile;
	}

	@media #{$small-and-medium-only} {
		width:100%;
		border-right:0 $white solid!important;
		border-left:0 $white solid!important;
	}

	img {
		position:absolute;
		left:60%; top:0;
		height:100%;

		@media #{$small-only} {
			position:relative;
			left:auto; top:auto;
			float:left;
			width:50%;
			margin-left:50%;
			@include translateX();
		}
	}

	.left {
		float:left;
		width:55%;
		padding:2rem 0 2rem 5%;
		text-align:center;

		@media #{$small-only} {
			float:right;
			width:100%;
			padding:2% 2%;
			@include border-box();
		}

		h4 {
			color:$white;
			font-size:2.5rem;
			line-height: 100%;
			font-family: $font-family-arial-black;
			text-transform:uppercase;

			@media #{$xlarge-only} {
				font-size:2rem;
			}

			@media #{$medium-only} {
				font-size:2rem;
			}

			@media #{$small-only} {
				font-size:2rem;
			}


		}

		h5 {
			color:$white;
			font-size:1.25rem;
			line-height:110%;
			font-family: $font-family-arial-black;
			text-transform:uppercase;
			margin-top:5px;

			@media #{$large-only} {
				font-size:14px;
			}
		}

		p {
			width:60%;
			margin:1rem auto 0 auto;

			@media #{$large-only} {
				font-size:14px;
			}
		}

		a.box {
			display:inline-block;
			margin-top:1rem;
			color:$white;
			padding:10px;
			border:2px $white solid;
			max-width:15rem;
			font-size:1.25rem;
			line-height:$base-line-height;

			@media #{$large-only} {
				font-size:16px;
			}
		}
	}
}

.block-toothache {
	background-color:#9e1825;
	border-right:($base-pad / 2) $white solid;

	.left {
		margin-top:1rem;

		@media #{$large-only} {
			margin-top:2rem;
		}

		@media #{$medium-only} {
			margin-top:0;
		}

		@media #{$small-only} {
			margin-top:0;
		}
	}

	@media #{$large-only} {
		border-right:(($base-pad * $scale-large) / 2) $white solid;
	}

	@media #{$xlarge-only} {
		border-right:(($base-pad * $scale-xlarge) / 2) $white solid;
	}
}

.block-mouth-ulcer {
	background-color:#141d4f;
	border-left:($base-pad / 2) $white solid;

	@media #{$large-only} {
		border-left:(($base-pad * $scale-large) / 2) $white solid;
	}

	@media #{$xlarge-only} {
		border-left:(($base-pad * $scale-xlarge) / 2) $white solid;
	}
	
}