@import '../functions';
@import '../variables';
@import '../fancybox/fancybox';

.block-red,
.block-blue,
.block-yellow {
	h3 {
    	text-transform:uppercase;
    }
}

.usage {
	p, ul li {
		color:$black;
		font-size:18px;
		line-height:110%;
	}

	ul {
		padding-left:30px;
		list-style:disc;

		li {
			margin-bottom:8px;
		}
	}
}

.dentalGel2{
	.packshotBox{
		padding-top:3em;
		img{
			width:75%;
			margin:0 auto;
		}
	}
	.buttons1{
		padding-top:2em;
		float:right;
	}
	.buttons2{
		display:none;
	}
	@media #{$small-and-medium-only} {
		&{
			.buttons1{
				display:none;
			}
			.buttons2{
				display:block;
			}

		}
	}
}