@import '../functions';
@import '../variables';

.block-red,
.block-blue,
.block-yellow {
	h3 {
    	text-transform:uppercase;
    }
}

.form {
  @include float-both();
  width:100%;

  .formRow {

    @include float-both();
    width:100%;
    margin-bottom:1rem;
    font-size:1.5rem;

    label {
      float:left;
      width:40%;
      text-transform:uppercase;
      color:$white;
      @include border-box();
      padding:0.75rem 0;
      font-family:$font-family-arial-bold;

      @media #{$small-only} {
        width:100%;
      }
    }

    .input {
      float:left;
      width:60%;
      @include border-box();
      border:2px $pale-grey solid;
      padding:0.6rem;
      font-family: $font-family-sans-serif;
      font-size:1rem;

      &.short {
        width:200px;
      }

      @media #{$small-only} {
        width:100%;
      }
    }

    .btn-submit {
      background-color:$primary-color;
      border:1px $white solid;
      color:$white;
      padding:0.75rem 2rem;
      cursor:pointer;
      font-size:1.5rem;
      text-transform: uppercase;
      font-family:$font-family-arial-bold;
    }

    .error {
      @include float-both();
      color:$white;
      width:100%;
      text-transform: uppercase;
      font-size:1rem;
      @include border-box();
      padding-left:40%;
      margin-top:0.5rem;

      @media #{$small-only} {
        padding-left:0;
      }
    }
  }

  
}

.media-enquiries {
	h5 {
		color:$white;
	}

	a:link, a:visited {
		color:$white;
	}

	a:hover, a:visited:hover {
		color:mix($primary-color,$white,50%);
	}
}