@import '../functions';
@import '../variables';
@import '../fancybox/fancybox';

@import '../ytube_jplayer';

.block-red,
.block-blue,
.block-yellow,
.block-black {
	h3 {
    	text-transform:uppercase;
    }
}

.head {
	position:relative;
	.inner {
		position:relative;
		top:0;

		.overlay {
			position:absolute;
			left:0; top:0;
			width:100%;
			opacity:0;
		}
	}
	
}

.usage {
	p, ul li {
		color:$black;
		font-size:16px;
		line-height:110%;
	}

	ul {
		padding-left:30px;
		list-style:disc;

		li {
			margin-bottom:8px;
		}
	}
}

.toothpainVideos {
	.columns {
		
		margin-top:$base-pad;
		margin-bottom:0;

		@media #{$large-only} {
			margin-top:($base-pad * $scale-large);
		}

		@media #{$xlarge-only} {
			margin-top:($base-pad * $scale-xlarge);
		}

		@media #{$small-and-medium-only} {
			margin-top:$base-pad-mobile;
		}

		.bg {
			float:left;
			width:100%;
		}

		.text {
			position:absolute;
			bottom:10%;
			right:$base-pad;

		 	&.middle {
		    	left:50%;
		    	right:auto;
		    	@include translateX();
		    }

			&.ninja {
				width:40%;
			}

			&.hero {
				width:50%;
			}

			&.wrestler {
				width:58%;
			}			

			a.fancybox {
			    display:inline-block;
			    padding:0.8rem 2rem;
			    font-size:1.5rem;
			    line-height:110%;
			    @include border-radius(0.5rem);
			    text-transform:uppercase;
			    background-color:$black;
			    font-weight:bold;
			    color:$white;
			    margin-right:1rem;
			    text-align: center;

			    @media #{$large-only} {
					font-size:2rem;
					padding:1.6rem 4rem;
			      	@include border-radius(1rem);
				}

			    @media #{$medium-only} {
			      font-size:0.8rem;
			      padding:0.8rem 2rem;
			      @include border-radius(0.6rem);
			    }

			    @media #{$small-only} {
			      font-size:0.6rem;
			      padding:0.3rem 1.2rem;
			      @include border-radius(0.4rem);
			      white-space: nowrap;
			    }
			    

			    &:hover {
			      color:mix($black, $white, 20%);
			    }
			}
		}
	}
}