@import 'functions';

@for $i from 0 through 5 {
	.mt#{$i} {margin-top:#{$i}em!important;}
	.pt#{$i} {padding-top:#{$i}em!important;}

	.mb#{$i} {margin-bottom:#{$i}em!important;}
	.pb#{$i} {padding-bottom:#{$i}em!important;}
}

.hidden {
	display:none;
}

.ff {float:left;}


body {
	
}