/**
 * Foundation Mixins
 */
/**
 * Retina mixin
 */
.mt0 {
  margin-top: 0em !important; }

.pt0 {
  padding-top: 0em !important; }

.mb0 {
  margin-bottom: 0em !important; }

.pb0 {
  padding-bottom: 0em !important; }

.mt1 {
  margin-top: 1em !important; }

.pt1 {
  padding-top: 1em !important; }

.mb1 {
  margin-bottom: 1em !important; }

.pb1 {
  padding-bottom: 1em !important; }

.mt2 {
  margin-top: 2em !important; }

.pt2 {
  padding-top: 2em !important; }

.mb2 {
  margin-bottom: 2em !important; }

.pb2 {
  padding-bottom: 2em !important; }

.mt3 {
  margin-top: 3em !important; }

.pt3 {
  padding-top: 3em !important; }

.mb3 {
  margin-bottom: 3em !important; }

.pb3 {
  padding-bottom: 3em !important; }

.mt4 {
  margin-top: 4em !important; }

.pt4 {
  padding-top: 4em !important; }

.mb4 {
  margin-bottom: 4em !important; }

.pb4 {
  padding-bottom: 4em !important; }

.mt5 {
  margin-top: 5em !important; }

.pt5 {
  padding-top: 5em !important; }

.mb5 {
  margin-bottom: 5em !important; }

.pb5 {
  padding-bottom: 5em !important; }

.hidden {
  display: none; }

.ff {
  float: left; }
