.cookie-disclaimer {
	float:left;
	width:100%;
	background-color:$black;
	color:$white;
	z-index:1010;
	text-align:center;
	padding:0;
	@include border-box();
	@include font-size(14,16);
	@include transition-this();
	max-height:0;
	overflow:hidden;
	orphans:3;
    widows:3;

	&.shown {
		max-height:150px;
		padding:20px 60px;
	}

	a {
		color:$white;
		text-decoration:underline;
	}

	.btn-close {
		position:absolute;
		top:20px; right:20px;
		@include wh(15px);
		cursor:pointer;

		line {
			fill:none;
			stroke:$white;
			stroke-width:7;
			stroke-linecap:round;
			stroke-miterlimit:10;
		}
	}

}