// RANGES
// We use these functions to define ranges for various things, like media queries.
@function lower-bound($range) {
	@if length($range) <= 0 {
		@return 0;
	}
	@return nth($range,1);
}

@function upper-bound($range) {
	@if length($range) < 2 {
		@return 999999999999;
	}
	@return nth($range, 2);
}

@mixin transition-height($speed:0.3s, $ease:ease-in-out) {
	-webkit-transition: height $speed $ease;
	-moz-transition: height $speed $ease;
	-ms-transition: height $speed $ease;
	-o-transition: height $speed $ease;
	transition: height $speed $ease;
}

@mixin transition-left($speed:0.3s, $ease:ease-in-out) {
	-webkit-transition: left $speed $ease;
	-moz-transition: left $speed $ease;
	-ms-transition: left $speed $ease;
	-o-transition: left $speed $ease;
	transition: left $speed $ease;
}

@mixin transition-right($speed:0.3s, $ease:ease-in-out) {
	-webkit-transition: right $speed $ease;
	-moz-transition: right $speed $ease;
	-ms-transition: right $speed $ease;
	-o-transition: right $speed $ease;
	transition: right $speed $ease;
}

@mixin transition-left-top($speed:0.3s, $ease:linear) {
	-webkit-transition-property: top, left;
	-moz-transition-property: top, left;
	-ms-transition-property: top, left;
	-o-transition-property: top, left;
	transition-property: top, left;

	-webkit-transition-duration: $speed, $speed;
	-moz-transition-duration: $speed, $speed;
	-ms-transition-duration: $speed, $speed;
	-o-transition-duration: $speed, $speed;
	transition-duration: $speed, $speed;

	-webkit-transition-timing-function: $ease, $ease;
	-moz-transition-timing-function: $ease, $ease;
	-ms-transition-timing-function: $ease, $ease;
	-o-transition-timing-function: $ease, $ease;
	transition-timing-function: $ease, $ease;
}

@mixin transition-margin($speed:0.3s, $ease:ease-in-out) {
	-webkit-transition: margin $speed, $ease;
	-moz-transition: margin $speed, $ease;
	-ms-transition: margin $speed, $ease;
	-o-transition: margin $speed, $ease;
	transition: margin $speed, $ease;
}

@mixin scale($amount) {
	-moz-transform: scale($amount);
	-webkit-transform: scale($amount);
	-o-transform: scale($amount);
	-ms-transform: scale($amount);
	transform: scale($amount);
}

/**
 * Foundation Mixins
 */
@mixin gpuAccelerate($property: all) {
	will-change: $property;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate(0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden; 
	-webkit-perspective: 1000;
} 

@mixin transition-this($type:all, $speed:0.3s, $ease:linear) {
	-webkit-transition: $type $speed $ease;
	-moz-transition: $type $speed $ease;
	-ms-transition: $type $speed $ease;
	-o-transition: $type $speed $ease;
	transition: $type $speed $ease;
}

@mixin border-box() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin rotate-element($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
}

@mixin clear-spacing() {
	left: initial;
	right: initial;
	top: initial;
	bottom: initial;
	margin: 0;
	padding: 0;
}

@mixin float-both() {
	float: left;
	clear: both;
}

@mixin border-radius($px:10px) {
	-webkit-border-radius: $px;
	border-radius: $px;
}

@mixin translateX($amount:-50%) {
	will-change: transform;
	-moz-transform: translateX($amount);
	-webkit-transform: translateX($amount);
	-o-transform: translateX($amount);
	-ms-transform: translateX($amount);
	transform: translateX($amount);
}

@mixin translate3D($x,$y,$z) {
	-webkit-transform: translate3d($x,$y,$z);
	-moz-transform: translate3d($x,$y,$z);
	-o-transform: translate3d($x,$y,$z);
	-ms-transform: translate3d($x,$y,$z);
	-ms-transform: translate($x,$y); /* IE 9 */
	transform: translate3d($x,$y,$z);
}

@mixin translateY($amount:-50%) {
	will-change: transform;
	-moz-transform: translateY($amount);
	-webkit-transform: translateY($amount);
	-o-transform: translateY($amount);
	-ms-transform: translateY($amount);
	transform: translateY($amount);
}

@mixin translateXY($amountX:-50%, $amountY:-50%) {
	will-change: transform;
	-moz-transform: translateX($amountX) translateY($amountY);
	-webkit-transform: translateX($amountX) translateY($amountY);
	-o-transform: translateX($amountX) translateY($amountY);
	-ms-transform: translateX($amountX) translateY($amountY);
	transform: translateX($amountX) translateY($amountY);
}

@mixin opacity($int, $float) {
	-ms-filter:		"progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
	filter:			alpha(opacity=$int);
	-moz-opacity:	$float;
	-khtml-opacity: $float;
	opacity:		$float;
}

@mixin gradient($deg, $col1, $col2) {
	background: -webkit-linear-gradient($deg, $col1, $col2);
	background: -o-linear-gradient($deg, $col1, $col2);
	background: -moz-linear-gradient($deg, $col1, $col2);
	background: linear-gradient($deg, $col1, $col2);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#000000FF, endColorstr=$opacBlack1)";
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin rotate($deg) {
	-ms-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin calc($property, $expression) { 
	#{$property}: -webkit-calc(#{$expression}); 
	#{$property}: -moz-calc(#{$expression}); 
	#{$property}: calc(#{$expression}); 
}

@mixin centreContent($width) { 
	@media #{$xxlarge-up-plus} {
		margin: 0 auto !important;
		width: $width !important;
		float: none !important;
	}
}

@mixin noSelect() { 
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

@mixin ignoreiOSStyling() {
	-webkit-appearance: none;
	-moz-appearance: none;
}


/**
 * Retina mixin
 */
@mixin at2x($path, $ext: "jpg", $w: auto, $h: auto) {
	$at1x_path: "#{$path}.#{$ext}";
	$at2x_path: "#{$path}@2x.#{$ext}";

	background-image: url("#{$at1x_path}");

	@media all and (-webkit-min-device-pixel-ratio : 1.5),
		all and (-o-min-device-pixel-ratio: 3/2),
		all and (min--moz-device-pixel-ratio: 1.5),
		all and (min-device-pixel-ratio: 1.5) {
			background-image: url("#{$at2x_path}");
			background-size: $w $h;
	}
}

@mixin font-size($fontSize:16, $lineHeight:$fontSize, $important:'false') {
  @if($important == 'important') {
    font-size: $fontSize + px !important;
    font-size: ($fontSize / $base-font-size) + rem  !important;

    line-height: $lineHeight + px  !important;
    line-height: ($lineHeight / $base-font-size) + rem  !important;
  }
  @elseif {
    font-size: $fontSize + px;
    font-size: ($fontSize / $base-font-size) + rem;

    line-height: $lineHeight + px ;
    line-height: ($lineHeight / $base-font-size) + rem;
  }
}

@mixin wh($size) {
  width:$size;
  height:$size;
}