// 12 column grid with spacing
.row {
	float:left; clear:both;
	width:(100% - $grid_sides);
	margin: 0 ($grid_sides / 2);

	.columns {
		position:relative;
		float:left;
		margin-left:($col_spacing / 2);
		margin-right:($col_spacing / 2);
		margin-bottom:1em;

		&.before-0 {margin-left:($col_spacing / 2);}
		&.after-0 {margin-right:($col_spacing / 2);}

		@for $i from 1 through $col_count {
			&.span-#{$i} {width:(($col_width * $i) - $col_spacing);}
			&.before-#{$i} {margin-left:(($col_width * $i) + ($col_spacing / 2));}
			&.after-#{$i} {margin-right:(($col_width * $i) + ($col_spacing / 2));}
		}

		
		@media #{$small-up} {
			&.offset-lg-4{
				margin-left:25%;
			}
			&.sm-up-before-0 {margin-left:($col_spacing / 2);}
			&.sm-up-after-0 {margin-right:($col_spacing / 2);}

			@for $i from 1 through $col_count {
				&.sm-up-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.sm-up-before-#{$i} {margin-left:($col_width * $i);}
				&.sm-up-after-#{$i} {margin-right:($col_width * $i);}
			}
		}

		@media #{$medium-up} {
			&.md-up-before-0 {margin-left:($col_spacing / 2);}
			&.md-up-after-0 {margin-right:($col_spacing / 2);}

			@for $i from 1 through $col_count {
				&.md-up-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.md-up-before-#{$i} {margin-left:($col_width * $i);}
				&.md-up-after-#{$i} {margin-right:($col_width * $i);}
			}
		}

		@media #{$large-up} {
			&.offset-lg-4{
				margin-left:33.3%;
			}
			&.lg-up-before-0 {margin-left:($col_spacing / 2);}
			&.lg-up-after-0 {margin-right:($col_spacing / 2);}

			@for $i from 1 through $col_count {
				&.lg-up-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.lg-up-before-#{$i} {margin-left:($col_width * $i);}
				&.lg-up-after-#{$i} {margin-right:($col_width * $i);}
			}
		}

		@media #{$xlarge-up} {
			&.xlg-up-before-0 {margin-left:($col_spacing / 2);}
			&.xlg-up-after-0 {margin-right:($col_spacing / 2);}

			@for $i from 1 through $col_count {
				&.xlg-up-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.xlg-up-before-#{$i} {margin-left:($col_width * $i);}
				&.xlg-up-after-#{$i} {margin-right:($col_width * $i);}
			}
		}

		@media #{$xxlarge-only} {
			&.xxlg-before-0 {margin-left:($col_spacing / 2);}
			&.xxlg-after-0 {margin-right:($col_spacing / 2);}
			&.xxlg-clear {clear:both;}

			@for $i from 1 through $col_count {
				&.xxlg-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.xxlg-before-#{$i} {margin-left:(($col_width * $i) + ($col_spacing / 2));}
				&.xxlg-after-#{$i} {margin-right:(($col_width * $i) + ($col_spacing / 2));}
			}
		}

		@media #{$xlarge-only} {
			&.xlg-before-0 {margin-left:($col_spacing / 2);}
			&.xlg-after-0 {margin-right:($col_spacing / 2);}
			&.xlg-clear {clear:both;}

			@for $i from 1 through $col_count {
				&.xlg-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.xlg-before-#{$i} {margin-left:(($col_width * $i) + ($col_spacing / 2));}
				&.xlg-after-#{$i} {margin-right:(($col_width * $i) + ($col_spacing / 2));}
			}
		}

		@media #{$large-only} {
			&.lg-before-0 {margin-left:($col_spacing / 2);}
			&.lg-after-0 {margin-right:($col_spacing / 2);}
			&.lg-clear {clear:both;}

			@for $i from 1 through $col_count {
				&.lg-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.lg-before-#{$i} {margin-left:(($col_width * $i) + ($col_spacing / 2));}
				&.lg-after-#{$i} {margin-right:(($col_width * $i) + ($col_spacing / 2));}
			}
		}

		@media #{$medium-only} {
			&.md-before-0 {margin-left:($col_spacing / 2);}
			&.md-after-0 {margin-right:($col_spacing / 2);}
			&.md-clear {clear:both;}

			@for $i from 1 through $col_count {
				&.md-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.md-before-#{$i} {margin-left:(($col_width * $i) + ($col_spacing / 2));}
				&.md-after-#{$i} {margin-right:(($col_width * $i) + ($col_spacing / 2));}
			}
		}

		@media #{$small-only} {
			&.sm-before-0 {margin-left:($col_spacing / 2);}
			&.sm-after-0 {margin-right:($col_spacing / 2);}

			@for $i from 1 through $col_count {
				&.sm-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.sm-before-#{$i} {margin-left:($col_width * $i);}
				&.sm-after-#{$i} {margin-right:($col_width * $i);}
			}
		}

		@media #{$small-and-medium-only} {
			&.sm-md-before-0 {margin-left:($col_spacing / 2);}
			&.sm-md-after-0 {margin-right:($col_spacing / 2);}

			@for $i from 1 through $col_count {
				&.sm-md-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.sm-md-before-#{$i} {margin-left:($col_width * $i);}
				&.sm-md-after-#{$i} {margin-right:($col_width * $i);}
			}
		}

		@media #{$small-to-large-only} {
			&.sm-lg-before-0 {margin-left:($col_spacing / 2);}
			&.sm-lg-after-0 {margin-right:($col_spacing / 2);}

			@for $i from 1 through $col_count {
				&.sm-lg-#{$i} {width:(($col_width * $i) - $col_spacing);}
				&.sm-lg-before-#{$i} {margin-left:($col_width * $i);}
				&.sm-lg-after-#{$i} {margin-right:($col_width * $i);}
			}
		}
	}

	// Reinstate the side spacing
	&.padded {
		width:(100% - $grid_sides)!important;
		margin: 0 ($grid_sides / 2)!important;
	}

	&.nopad {
		width:(100% + $col_spacing);
		margin: 0;
		margin-left: -($col_spacing / 2);
	}

	// Full width grid.
	&.full {
		width:100%;
		margin: 0;

		>.columns {
			margin:0;

			@for $i from 1 through $col_count {
				&.span-#{$i} {width:($col_width * $i);}
				&.before-#{$i} {margin-left:($col_width * $i);}
				&.after-#{$i} {margin-right:($col_width * $i);}
			}


			@media #{$small-up} {
				&.sm-up-before-0 {margin-left:($col_spacing / 2);}
				&.sm-up-after-0 {margin-right:($col_spacing / 2);}

				@for $i from 1 through $col_count {
					&.sm-up-#{$i} {width:($col_width * $i);}
					&.sm-up-before-#{$i} {margin-left:($col_width * $i);}
					&.sm-up-after-#{$i} {margin-right:($col_width * $i);}
				}
			}

			@media #{$medium-up} {
				&.md-up-before-0 {margin-left:($col_spacing / 2);}
				&.md-up-after-0 {margin-right:($col_spacing / 2);}

				@for $i from 1 through $col_count {
					&.md-up-#{$i} {width:($col_width * $i);}
					&.md-up-before-#{$i} {margin-left:($col_width * $i);}
					&.md-up-after-#{$i} {margin-right:($col_width * $i);}
				}
			}

			@media #{$large-up} {
				&.lg-up-before-0 {margin-left:($col_spacing / 2);}
				&.lg-up-after-0 {margin-right:($col_spacing / 2);}

				@for $i from 1 through $col_count {
					&.lg-up-#{$i} {width:($col_width * $i);}
					&.lg-up-before-#{$i} {margin-left:($col_width * $i);}
					&.lg-up-after-#{$i} {margin-right:($col_width * $i);}
				}
			}

			@media #{$xlarge-up} {
				&.xlg-up-before-0 {margin-left:($col_spacing / 2);}
				&.xlg-up-after-0 {margin-right:($col_spacing / 2);}

				@for $i from 1 through $col_count {
					&.xlg-up-#{$i} {width:($col_width * $i);}
					&.xlg-up-before-#{$i} {margin-left:($col_width * $i);}
					&.xlg-up-after-#{$i} {margin-right:($col_width * $i);}
				}
			}

			@media #{$xxlarge-only} {
				&.xxlg-before-0 {margin-left:0;}
				&.xxlg-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.xxlg-#{$i} {width:($col_width * $i);}
					&.xxlg-before-#{$i} {margin-left:($col_width * $i);}
					&.xxlg-after-#{$i} {margin-right:($col_width * $i);}
				}
			}

			@media #{$xlarge-only} {
				&.xlg-before-0 {margin-left:0;}
				&.xlg-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.xlg-#{$i} {width:($col_width * $i);}
					&.xlg-before-#{$i} {margin-left:($col_width * $i);}
					&.xlg-after-#{$i} {margin-right:($col_width * $i);}
				}
			}

			@media #{$large-only} {
				&.lg-before-0 {margin-left:0;}
				&.lg-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.lg-#{$i} {width:($col_width * $i);}
					&.lg-before-#{$i} {margin-left:($col_width * $i);}
					&.lg-after-#{$i} {margin-right:($col_width * $i);}
				}
			}

			@media #{$medium-only} {
				&.md-before-0 {margin-left:0;}
				&.md-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.md-#{$i} {width:($col_width * $i);}
					&.md-before-#{$i} {margin-left:($col_width * $i);}
					&.md-after-#{$i} {margin-right:($col_width * $i);}
				}
			}

			@media #{$small-only} {
				&.sm-before-0 {margin-left:0;}
				&.sm-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.sm-#{$i} {width:($col_width * $i);}
					&.sm-before-#{$i} {margin-left:($col_width * $i);}
					&.sm-after-#{$i} {margin-right:($col_width * $i);}
				}
			}

			@media #{$small-and-medium-only} {
				&.sm-md-before-0 {margin-left:0;}
				&.sm-md-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.sm-md-#{$i} {width:($col_width * $i);}
					&.sm-md-before-#{$i} {margin-left:($col_width * $i);}
					&.sm-md-after-#{$i} {margin-right:($col_width * $i);}
				}
			}

			@media #{$small-to-large-only} {
				&.sm-lg-before-0 {margin-left:0;}
				&.sm-lg-after-0 {margin-right:0;}

				@for $i from 1 through $col_count {
					&.sm-lg-#{$i} {width:($col_width * $i);}
					&.sm-lg-before-#{$i} {margin-left:($col_width * $i);}
					&.sm-lg-after-#{$i} {margin-right:($col_width * $i);}
				}
			}
		}
	}

	&.abs {
		position:absolute;
		left:0; width:100%;
	}

	&.bottom {
		bottom:0;
	}
}