$white       : #FFFFFF;
$pale-grey   : #e5e5e5;
$black       : #000000;

//We use these as default colors throughout
$primary-color: #cc0000;
$secondary-color: #00376a;
$tertiary-color: #e4d014;
$background-color: #fcfff5;

$transparent: rgba(0,0,0,0);

$image_path: "../images/";
$assets_path: "../";

$base-font-size: 16px !default;
$base-line-height: 120% !default;

$base-pad: 30px;
$base-pad-mobile: 15px;

// Media Query Ranges
$xsmall-range: (0, 300px) !default;
$small-range: (0, 480px) !default;
$medium-range: (481px, 768px) !default;
$large-range: (769px, 960px) !default;
$xlarge-range: (961px, 1439px) !default;
$xxlarge-range: (1440px, 99999999em) !default;
$xxlarge-range-plus: (1600px, 99999999em) !default;
$xxlarge-1920-up: (1920px, 99999999em) !default;


$medium-height-range: (480px, 768px) !default;
$large-height-range: (769px, 1024px) !default;
$xlarge-height-range: (1025px, 1080px) !default;

$scale-small: (480 / 1920);
$scale-medium: (768 / 1920); // 0.4
$scale-large: (960 / 1920); // 0.5
$scale-xlarge: (1440 / 1920); // 0.75
$scale-xxlarge: 1;

$col_count: 12;
$col_width: (100% / $col_count);
$col_spacing: 2%;

$grid_sides: 4%;

$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$xsmall-up: $screen !default;
$xsmall-only: "#{$screen} and (min-width:#{lower-bound($xsmall-range)}) and (max-width: #{upper-bound($xsmall-range)})" !default;

$small-up: $screen !default;
$small-only: "#{$screen} and (min-width:#{lower-bound($small-range)}) and (max-width: #{upper-bound($small-range)})" !default;
$small-not-xsmall: "#{$screen} and (min-width:#{upper-bound($xsmall-range)+1px}) and (max-width: #{upper-bound($small-range)})" !default;

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})" !default;
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width: #{upper-bound($medium-range)})" !default;

$small-and-medium-only: "#{$screen} and (min-width:#{lower-bound($small-range)}) and (max-width: #{upper-bound($medium-range)})" !default;

$mobiles-only: "#{$screen} and (min-width:#{lower-bound($small-range)}) and (max-width: #{upper-bound($medium-range)})" !default;
$desktop-only: "#{$screen} and (min-width:#{lower-bound($large-range)})" !default;

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})" !default;
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width: #{upper-bound($large-range)})" !default;

$small-to-large-only: "#{$screen} and (min-width:#{lower-bound($small-range)}) and (max-width: #{upper-bound($large-range)})" !default;
$medium-to-large-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width: #{upper-bound($large-range)})" !default;

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})" !default;
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width: #{upper-bound($xlarge-range)})" !default;

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})" !default;
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width: #{upper-bound($xxlarge-range)})" !default;

$xxlarge-up-plus: "#{$screen} and (min-width:#{lower-bound($xxlarge-range-plus)})" !default;

$xxlarge1920-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-1920-up)}) and (max-width: #{upper-bound($xxlarge-1920-up)})" !default;

// Heights
// 

$medium-height-up: "#{$screen} and (min-height:#{lower-bound($medium-height-range)})" !default;
$medium-height-only: "#{$screen} and (min-height:#{lower-bound($medium-height-range)}) and (max-height: #{upper-bound($medium-height-range)})" !default;

$large-height-up: "#{$screen} and (min-height:#{lower-bound($large-height-range)})" !default;
$large-height-only: "#{$screen} and (min-height:#{lower-bound($large-height-range)}) and (max-height: #{upper-bound($large-height-range)})" !default;

$xlarge-height-up: "#{$screen} and (min-height:#{lower-bound($xlarge-height-range)})" !default;
$xlarge-height-only: "#{$screen} and (min-height:#{lower-bound($xlarge-height-range)}) and (max-height: #{upper-bound($xlarge-height-range)})" !default;

$desktop-short: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-height:#{lower-bound($medium-height-range)})" !default;

$desktop-medium-height-up: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (min-height:#{lower-bound($medium-height-range)})" !default;
$desktop-medium-height-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (min-height:#{lower-bound($medium-height-range)}) and (max-height: #{upper-bound($medium-height-range)})" !default;

$desktop-large-height-up: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (min-height:#{lower-bound($large-height-range)})" !default;
$desktop-large-height-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (min-height:#{lower-bound($large-height-range)}) and (max-height: #{upper-bound($large-height-range)})" !default;

$desktop-xlarge-height-up: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (min-height:#{lower-bound($xlarge-height-range)})" !default;
$desktop-xlarge-height-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (min-height:#{lower-bound($xlarge-height-range)}) and (max-height: #{upper-bound($xlarge-height-range)})" !default;

// We use these to define default font stacks
$font-family-sans-serif: opensans-regular, sans-serif !default;

$font-family-arial-bold: 'arialbold', opensans-regular, sans-serif !default;

$font-family-arial-black: 'arielblk', opensans-regular, sans-serif !default;

// We use these to define default font weights
$font-weight-light: 300 !default;
$font-weight-normal: normal !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: bold !default;

$body-font-family: $font-family-sans-serif !default;
$body-font-weight: $font-weight-normal !default;
$body-font-style: normal !default;