@import 'reset';
@import 'functions';
@import 'variables';
@import 'visibility';
@import 'fonts';
@import 'unison';


@for $i from 0 through 5 {
	.mt#{$i} {margin-top:#{$i}em!important;}
	.pt#{$i} {padding-top:#{$i}em!important;}
	.mb#{$i} {margin-bottom:#{$i}em!important;}
	.pb#{$i} {padding-bottom:#{$i}em!important;}
  .mr#{$i} {margin-right:#{$i}em!important;}
}

#noIE {
  display:none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.underline {text-decoration:underline;}
.tac {text-align:center;}
.tar {text-align:right;}
.tint-primary {color:$primary-color;}
.tint-secondary {color:$secondary-color;}
.tint-tertiary {color:$tertiary-color;}

.no-scrollbar::-webkit-scrollbar{display:none;}
.noscroll {overflow:hidden;}

.w100 {width:100%;}

.ff {
  float:left;
}

img.map, map area {
  outline: none;
}

// Globally disable text highlighting
p, h1, h2, h3 {
  margin:1em 0;
  color:$white;
  font-family: $font-family-sans-serif;
  line-height: $base-line-height;
}

img { -ms-interpolation-mode: bicubic; }


// img {-ms-interpolation-mode:nearest-neighbor;
//     image-rendering: crisp-edges;
// }

html,
body {
	width: 100%; height:100%;
	font-size: $base-font-size;

  @media #{$xlarge-only} {
    font-size:($base-font-size * $scale-xlarge);
  }

  @media #{$large-only} {
    font-size:($base-font-size * $scale-large);
  }

  @media #{$small-and-medium-only} {
    font-size:$base-font-size;
  }
}

body {
  font-family: $font-family-sans-serif;
  font-weight: $body-font-weight;
  font-style: $body-font-style;

  line-height: $base-line-height;
  background-color:$background-color;
  
  overflow-x:hidden;
}

a:link, a:visited {color:$primary-color;}
a:hover, a:visited:hover {color:lighten($primary-color, 10);}

.full-height {
	height:100%;
}

// Centering in the unknown
.tbl {
	display: table;
  	width: 100%; height:100%;

  	.inner {
  		display: table-cell;
  		text-align: center;
  		vertical-align: middle;

      .blk {
        display:block;
      }
  	}
}

.red {
  color:$primary-color;
}

.blue {
  color:$secondary-color;
}

.yellow {
  color:$tertiary-color;
}

.eq-inner {
  @include float-both();
  width:100%;
}

@import 'redgrid';

#wrapper {
  @include float-both();
  width:100%; height:auto;
  position:relative;
}

#mobile-white-out {
  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  background-color:rgba(255,255,255,0.5);
  z-index:10000;
}

#headerWrapper {
  position:absolute;
  left:$base-pad; right:$base-pad;
  top:$base-pad;
  z-index:500;

  @media #{$large-only} {
    left:($base-pad * $scale-large);
    right:($base-pad * $scale-large);
    top:($base-pad * $scale-large);
  }

  @media #{$xlarge-only} {
    left:($base-pad * $scale-xlarge);
    right:($base-pad * $scale-xlarge);
    top:($base-pad * $scale-xlarge);
  }

  @media #{$small-and-medium-only} {
    left:$base-pad-mobile; right:$base-pad-mobile;
    top:$base-pad-mobile;
  }

  .logo {
    position:absolute;
    left:$base-pad * 2;
    top:$base-pad;
    @include translateX(-0.5rem);
    height:76px;

    @media #{$large-only} {
      left:($base-pad * 2 * $scale-large);
      top:($base-pad * $scale-large);
      height:(76px * $scale-large);
    }

    @media #{$xlarge-only} {
      left:($base-pad * 2 * $scale-xlarge);
      top:($base-pad * $scale-xlarge);
      height:(76px * $scale-xlarge);
    }

    @media #{$medium-only} {
      left:($base-pad-mobile * 2);
      top:($base-pad-mobile);
      height:50px;
    }

    @media #{$small-only} {
      left:($base-pad-mobile);
      top:($base-pad-mobile / 2);
      height:40px;
    }
  }

 /* ul.main-menu {
    margin-top:$base-pad * 2;
    margin-right:$base-pad;
    list-style:none;
    text-align:right;

    @media #{$large-only} {
      margin-top:($base-pad * 2 * $scale-large);
      margin-right:($base-pad * $scale-large);
    }

    @media #{$xlarge-only} {
      margin-top:($base-pad * 2 * $scale-xlarge);
      margin-right:($base-pad * $scale-xlarge);
    }

    @media #{$small-and-medium-only} {
      display:none; // We change to the hamburger here.
    }

    li {
      display:inline;
      text-transform:uppercase;
      margin-right:$base-pad;
      color:$white;
      position:relative;
      font-weight:bold;
      font-size:1.4rem;
      height:2rem;
      padding-top:0.6rem;

      @media #{$large-only} {
        margin-right:($base-pad * $scale-large);
      }

      @media #{$xlarge-only} {
        margin-right:($base-pad * $scale-xlarge * 0.8);
        font-size:1.2rem;
      }

      &:hover {
          padding-top:0rem;
          font-size:2rem;
        }

      a {
        color:$white;
        @include transition-this(all,0.1s);

        span {
          position:absolute;
          left:-0.5rem; top:-0.5rem; right:-0.5rem; bottom:-0.5rem;
          border:1px $white solid;
        }


      }
    }
  }

  */

  ul.main-menu-v2 {
    margin-top:$base-pad;
    margin-right:$base-pad;
    list-style:none;
    text-align:right;
    height:76px;
    //background-color:#333333;

    @media #{$large-only} {
      margin-top:($base-pad * $scale-large);
      margin-right:($base-pad * $scale-large);
      height:(76px * $scale-large);
    }

    @media #{$xlarge-only} {
     margin-top:($base-pad * $scale-xlarge);
     margin-right:($base-pad * $scale-xlarge);
     height:(76px * $scale-xlarge);
    }

    @media #{$small-and-medium-only} {
      display:none; // We change to the hamburger here.
    }

    li {
      float:right;
      position:relative;
      text-transform:uppercase;
      margin-right:$base-pad;
      color:$white;
      position:relative;
      font-weight:bold;
      font-family: $font-family-arial-black;
      height:76px;
      //background-color:#d20000;

      &.boxed {
        margin-left:0.5rem;
      }

      @media #{$large-only} {
        height:(76px * $scale-large);
        margin-right:($base-pad * $scale-medium);
      }

      @media #{$xlarge-only} {
        height:(76px * $scale-xlarge);
        margin-right:($base-pad * $scale-large);
      }
      
      a, .divider {
        @include gpuAccelerate();
        float:right;
        display:block;
        color:$white;
        margin-top:(76px/2);
        height:16px;
        font-size:16px;
        line-height:16px;
        @include translateY();

        @media #{$large-only} {
          margin-top:20px;
          height:10px;
          font-size:10px;
          line-height:10px;
        }

        @media #{$xlarge-only} {
          margin-top:30px;
          height:11px;
          font-size:11px;
          line-height:11px;
        }
      }

      a {
        @include transition-this(all,0.2s);
       
        span.box {
          position:absolute;
          left:-0.5rem; top:-0.5rem; right:-0.5rem; bottom:-0.5rem;
          border:1px $white solid;
        }

        &:hover {
          height:24px;
          font-size:24px;
          line-height:24px;

          @media #{$large-only} {
            height:(24px * $scale-xlarge);
            font-size:(24px * $scale-xlarge);
            line-height:(24px * $scale-xlarge);
          }

          @media #{$xlarge-only} {
            height:(24px * $scale-xlarge);
            font-size:(24px * $scale-xlarge);
            line-height:(24px * $scale-xlarge);
          }

          -webkit-animation: pulsate 1.2s ease-out;
          -webkit-animation-iteration-count: infinite; 
        }
      }
    }
  }





  .mobile-menu {
    position:absolute;
    top:$base-pad-mobile; right:$base-pad-mobile;

    @media #{$large-up} {
      display:none;
    }

    @media #{$small-only} {
        top:ceil($base-pad-mobile / 2); right:ceil($base-pad-mobile / 2);
    }

    .burger {
      height:40px;
      cursor:pointer;

      @media #{$small-only} {
        height:36px;
      }
    }
  }
}

.slide-menu {
  position:fixed;
  width:(320px - $base-pad-mobile);
  background-color:$primary-color;
  right:$base-pad-mobile - 320px; top:$base-pad-mobile;
  bottom:$base-pad-mobile;
  background-size:cover;

  .close {
    @include float-both();
    margin-left:50%;
    @include translateX();
    height:50px;
    margin-top:$base-pad-mobile;
    cursor:pointer;
  }

  ul {
    list-style:none;
    @include float-both();
    width:100%;
    padding:($base-pad-mobile * 2);
    @include border-box();
    font-family: $font-family-arial-black;
    font-size:1rem;
    margin-top:1rem;
    text-align: center;
    text-transform:uppercase;

    li {
      margin-bottom:1.5rem;
      position:relative;

      a {
        color:$white;

        span {
          position:absolute;
          left:-0.5rem; top:-0.5rem; right:-0.5rem; bottom:-0.5rem;
          border:1px $white solid;
        }

        &:hover {
          color:mix($primary-color, $white, 20%);
        }
      }
    }
  }
}

#contentWrapper {
  @include float-both();
  width:100%; height:auto;
  padding:$base-pad;
  @include border-box();

  @media #{$large-only} {
    padding:($base-pad * $scale-large);
  }

  @media #{$xlarge-only} {
    padding:($base-pad * $scale-xlarge);
  }

  @media #{$small-and-medium-only} {
    padding:$base-pad-mobile;
  }

  .white-list {
    list-style:none;
    margin-bottom:$base-pad;

    @media #{$large-only} {
      margin-bottom:($base-pad * $scale-large);
    }

    @media #{$xlarge-only} {
      margin-bottom:($base-pad * $scale-xlarge);
    }

    @media #{$small-and-medium-only} {
      margin-bottom:$base-pad-mobile;
    }

    li {
      color:$white;
      font-family: $font-family-sans-serif;
      line-height: $base-line-height;

      margin:0;
      padding:0 0 0 1.5em;
      background:transparent url(/images/tick.png) no-repeat 0 0;
      background-size:1em 1em;
    }
  }
}

#footerWrapper {
  @include float-both();
  width:100%; height:auto;
  background-color:$pale-grey;
  padding:$base-pad;
  @include border-box();

  @media #{$large-only} {
    padding:($base-pad * $scale-large);
  }

  @media #{$xlarge-only} {
    padding:($base-pad * $scale-xlarge);
  }

  @media #{$small-and-medium-only} {
    padding:($base-pad-mobile * 2) $base-pad-mobile;
  }


  ul {
    list-style:none;
    font-size:1.125rem;
    line-height:$base-line-height;
    padding:0 $base-pad;

    @media #{$small-to-large-only} {
      font-size:$base-font-size;
    }

    @media #{$large-only} {
      padding:0 ($base-pad * $scale-large);
    }

    @media #{$xlarge-only} {
      padding:0 ($base-pad * $scale-xlarge);
    }

    @media #{$small-and-medium-only} {
      padding:0 $base-pad-mobile;
    }

    li {
      margin-bottom:1.125rem;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color:$black;

        &:hover, &:visited:hover {
          color:lighten($black,30%);
        }
      }
    }
  }
}


.clear-menu {
  @include float-both();
  width:100%;
  margin-top:9rem;
}

.spaced {
  margin-top:$base-pad;

  @media #{$large-only} {
    margin-top:($base-pad * $scale-large);
  }

  @media #{$xlarge-only} {
    margin-top:($base-pad * $scale-xlarge);
  }

  @media #{$small-and-medium-only} {
    margin-top:$base-pad-mobile;
  }
}

.block-red,
.bg-red {
  background:$primary-color url(/images/red-radial.jpg) repeat-y center center;
}

.block-blue,
.bg-blue {
  background:$primary-color url(/images/blue-radial.jpg) repeat-y center center;
}

.block-yellow,
.bg-yellow {
  background:$primary-color url(/images/yellow-radial.jpg) repeat-y center center;
}

.block-black,
.bg-black {
  background-color:$black;
}

.block-red,
.block-blue,
.block-yellow,
.block-black {
  @include float-both();
  width:100%;
  background-size:cover;
  position:relative;

  padding:0 5%;
  @include border-box();

  h1 {
    width:100%;
    float:left;
    text-transform:uppercase;
    font-size:3.5rem;
    line-height:120%;
    font-weight:bold;
    margin:0;

    @media #{$small-and-medium-only} {
      font-size:2.2rem;
    }

  }

  h3 {
    font-size:2rem;

    @media #{$small-and-medium-only} {
      font-size:1.5rem;
    }

    @media #{$large-only} {
        font-size:2.5rem;
    }
  }

  p, h5, li, table {
    font-size:1.5rem;

    @media #{$small-and-medium-only} {
      font-size:1rem;
    }

    @media #{$large-only} {
        font-size:2rem;
    }

    a:link, a:visited {color:$white;}
    a:hover, a:visited:hover {color:#dddddd;}
  }
  
  .block {
    background-color:$white;
    min-height:400px;
    padding:$base-pad;
    @include border-box();
    text-align:center;

    img {
      //float:left;
      display:block;
      margin:0 auto;
      width:100%;
      max-width:329px;
    }

    h4 {
      @include float-both();
      width:100%;
      text-transform: uppercase;
      text-align: center;
      font-size:1.5rem;
      margin-top:1rem;
      line-height:120%;

      @media #{$large-only} {
        font-size:2rem;
      }
    }

    p {
      @include float-both();
      color:$black;
      font-size:1.5rem;

      @media #{$large-only} {
        font-size:2rem;
      }
    }
  }

  .resource {
    background-color:$white;
    padding:$base-pad;
    @include border-box();

    a {
      @include float-both();
      display:block;

      img {
        display:block;
        margin:0 auto;
        width:100%;
      }

      h4 {
        width:100%;
        text-transform: uppercase;
        text-align: left;
        font-size:1.5rem;
        margin-top:0;
        line-height:120%;
        color:$primary-color;

        @media #{$large-only} {
          font-size:2rem;
          margin-top:0;
        }

        @media #{$small-and-medium-only} {
          margin-top:1rem;
        }
      }

      p {
        color:$black;
        font-size:1.5rem;

        @media #{$large-only} {
          font-size:2rem;
        }
      }

      .cta-btn svg {
        height:1rem;
      }

      &:hover {
        .cta-btn {
          color:$primary-color;

          svg path {
            fill:$primary-color;
          }
        }
      }
    }
  }

  .post {
    img.head {
      width:100%;
      margin-top:1rem;
    }
  }
}

.block-grey {
  @include float-both();
  width:100%;
  background-color:$pale-grey;
  position:relative;

  padding:0 0 0 5%;
  @include border-box();

  @media #{$small-and-medium-only} {
    padding:0;
  }
}

.info {
  h2 {
    font-size:2.3rem;

    @media #{$small-and-medium-only} {
      margin-top:0;
    }
  }

  p {
    font-size:1.5rem;
    color:$black;

    @media #{$small-and-medium-only} {
      font-size:1.2rem;
    }
  }

  .pack {
    width:100%;
  }

  .btnUsage {
    display:inline-block;
    background-color:$black;
    color:$white;
    margin-right:1rem;

    &:hover {
      color:mix($black, $white, 20%);
    }
  }

  .btnWtb {
    display:inline-block;
    color:$white;

    &:hover {
      color:mix($primary-color, $white, 20%);
    }
  }

  .btnRed {
    background-color:$primary-color;
  }

  .btnBlue {
    background-color:$secondary-color;

    &:hover {
      color:mix($secondary-color, $white, 20%);
    }
  }
}

ul.normal {
  padding-left:30px;

  li {
    margin:1em 0;
    color:$white;
    font-family: $font-family-sans-serif;
    line-height: $base-line-height;
  }
}

table.normal {
  color:$white;
    font-family: $font-family-sans-serif;
    line-height: $base-line-height;
    text-align:left;
}

.wtb {
  padding:1rem 1rem 0.8rem 1rem;
  font-size:1.6rem;
  @include border-radius(1rem);
  text-transform:uppercase;
  font-family:$font-family-arial-bold;

  @media #{$large-only} {
     font-size:2rem;
      padding:1.7rem 1.7rem 1.5rem 1.7rem;
     @include border-radius(1.5rem);
  }

  @media #{$small-and-medium-only} {
    font-size:1rem;
    padding:0.6rem 0.6rem 0.5rem 0.6rem;
    @include border-radius(0.6rem);
  }
}

.where-to-buy {
  padding-left:0;

  //.intro {
    p {
      color:$black;
      font-size:1.4rem;
      width:100%;
      @include border-box();
      padding:0 20px;

      @media #{$large-only} {
        font-size:2rem;
      }

      @media #{$small-and-medium-only} {
        font-size:1rem;
      }
    }
 // }

  .columns {
    margin-top:0;
    margin-bottom:0;
    text-align:center;
  }

  .logo {
    width:50%;
    max-height:150px;
    margin:$base-pad 0;
  }

  .logo-inline {
    display:inline-block;
    width:(150px*0.80); height:(60px*0.80);
    margin-left:1rem;
    @include translateY((20px*0.80));

    @media #{$large-only} {
      width:(100px*0.80); height:(40px*0.80);
      @include translateY((10px*0.80));
    }
    @media #{$small-and-medium-only} {
      width:(100px*0.80); height:(40px*0.80);
      @include translateY((10px*0.80));
    }
  }
}

.btnWhite {
  display:inline-block;
  padding:1rem;
  font-size:1.6rem;
  @include border-radius(1rem);
  text-transform:uppercase;
  font-weight:bold;
  background-color:$white;
  color:$primary-color;

  @media #{$small-and-medium-only} {
    font-size:1rem;
    padding:0.6rem;
    @include border-radius(0.6rem);
  }

  &:hover {
    color:mix($primary-color, $white, 20%);
  }
}

#cookie-table {
  border:1px $white solid;

  tr th, tr td {
    padding:10px;
    @includer border-box();
    border:1px $white solid;
    color:$white;

    @media #{$small-and-medium-only} {
      font-size:14px;
      line-height:16px;
    }
  }
}

@import 'animate-it/animations';



@-webkit-keyframes pulsate {
    0% {-moz-transform: scale(1) translateY(-50%);
        -webkit-transform: scale(1) translateY(-50%);
        -o-transform: scale(1) translateY(-50%);
        -ms-transform: scale(1) translateY(-50%);
        transform: scale(1) translateY(-50%);}
    50% {-moz-transform: scale(1.1) translateY(-50%);
        -webkit-transform: scale(1.1) translateY(-50%);
        -o-transform: scale(1.1) translateY(-50%);
        -ms-transform: scale(1.1) translateY(-50%);
        transform: scale(1.1) translateY(-50%);}
    100% {-moz-transform: scale(1) translateY(-50%);
        -webkit-transform: scale(1) translateY(-50%);
        -o-transform: scale(1) translateY(-50%);
        -ms-transform: scale(1) translateY(-50%);
        transform: scale(1) translateY(-50%);}
}

@import 'disclaimer';