/**
 * Foundation Mixins
 */
/**
 * Retina mixin
 */
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
  width: 700px !important;
  height: 510px !important; }
  @media only screen and (min-width: 961px) and (max-width: 1439px) {
    .fancybox-wrap,
    .fancybox-skin,
    .fancybox-outer,
    .fancybox-inner,
    .fancybox-image,
    .fancybox-wrap iframe,
    .fancybox-wrap object,
    .fancybox-nav,
    .fancybox-nav span,
    .fancybox-tmp {
      width: 700px !important;
      height: 510px !important; } }
  @media only screen and (min-width: 769px) and (max-width: 960px) {
    .fancybox-wrap,
    .fancybox-skin,
    .fancybox-outer,
    .fancybox-inner,
    .fancybox-image,
    .fancybox-wrap iframe,
    .fancybox-wrap object,
    .fancybox-nav,
    .fancybox-nav span,
    .fancybox-tmp {
      width: 700px !important;
      height: 510px !important; } }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .fancybox-wrap,
    .fancybox-skin,
    .fancybox-outer,
    .fancybox-inner,
    .fancybox-image,
    .fancybox-wrap iframe,
    .fancybox-wrap object,
    .fancybox-nav,
    .fancybox-nav span,
    .fancybox-tmp {
      width: 400px !important;
      height: 295.71429px !important; } }
  @media only screen and (min-width: 0) and (max-width: 480px) {
    .fancybox-wrap,
    .fancybox-skin,
    .fancybox-outer,
    .fancybox-inner,
    .fancybox-image,
    .fancybox-wrap iframe,
    .fancybox-wrap object,
    .fancybox-nav,
    .fancybox-nav span,
    .fancybox-tmp {
      width: 300px !important;
      height: 224.28571px !important; } }

.fancybox-wrap.wide {
  width: 1024px !important;
  height: 586px !important; }
  .fancybox-wrap.wide .fancybox-skin,
  .fancybox-wrap.wide .fancybox-outer,
  .fancybox-wrap.wide .fancybox-inner,
  .fancybox-wrap.wide .fancybox-image,
  .fancybox-wrap.wide .fancybox-wrap iframe,
  .fancybox-wrap.wide .fancybox-wrap object,
  .fancybox-wrap.wide .fancybox-nav,
  .fancybox-wrap.wide .fancybox-nav span,
  .fancybox-wrap.wide .fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
    width: 1024px !important;
    height: 586px !important; }
    @media only screen and (min-width: 961px) and (max-width: 1439px) {
      .fancybox-wrap.wide .fancybox-skin,
      .fancybox-wrap.wide .fancybox-outer,
      .fancybox-wrap.wide .fancybox-inner,
      .fancybox-wrap.wide .fancybox-image,
      .fancybox-wrap.wide .fancybox-wrap iframe,
      .fancybox-wrap.wide .fancybox-wrap object,
      .fancybox-wrap.wide .fancybox-nav,
      .fancybox-wrap.wide .fancybox-nav span,
      .fancybox-wrap.wide .fancybox-tmp {
        width: 700px !important;
        height: 403.75px !important; } }
    @media only screen and (min-width: 769px) and (max-width: 960px) {
      .fancybox-wrap.wide .fancybox-skin,
      .fancybox-wrap.wide .fancybox-outer,
      .fancybox-wrap.wide .fancybox-inner,
      .fancybox-wrap.wide .fancybox-image,
      .fancybox-wrap.wide .fancybox-wrap iframe,
      .fancybox-wrap.wide .fancybox-wrap object,
      .fancybox-wrap.wide .fancybox-nav,
      .fancybox-wrap.wide .fancybox-nav span,
      .fancybox-wrap.wide .fancybox-tmp {
        width: 700px !important;
        height: 403.75px !important; } }
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      .fancybox-wrap.wide .fancybox-skin,
      .fancybox-wrap.wide .fancybox-outer,
      .fancybox-wrap.wide .fancybox-inner,
      .fancybox-wrap.wide .fancybox-image,
      .fancybox-wrap.wide .fancybox-wrap iframe,
      .fancybox-wrap.wide .fancybox-wrap object,
      .fancybox-wrap.wide .fancybox-nav,
      .fancybox-wrap.wide .fancybox-nav span,
      .fancybox-wrap.wide .fancybox-tmp {
        width: 400px !important;
        height: 235px !important; } }
    @media only screen and (min-width: 0) and (max-width: 480px) {
      .fancybox-wrap.wide .fancybox-skin,
      .fancybox-wrap.wide .fancybox-outer,
      .fancybox-wrap.wide .fancybox-inner,
      .fancybox-wrap.wide .fancybox-image,
      .fancybox-wrap.wide .fancybox-wrap iframe,
      .fancybox-wrap.wide .fancybox-wrap object,
      .fancybox-wrap.wide .fancybox-nav,
      .fancybox-wrap.wide .fancybox-nav span,
      .fancybox-wrap.wide .fancybox-tmp {
        width: 300px !important;
        height: 178.75px !important; } }
  @media only screen and (min-width: 961px) and (max-width: 1439px) {
    .fancybox-wrap.wide {
      width: 700px !important;
      height: 403.75px !important; } }
  @media only screen and (min-width: 769px) and (max-width: 960px) {
    .fancybox-wrap.wide {
      width: 700px !important;
      height: 403.75px !important; } }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .fancybox-wrap.wide {
      width: 400px !important;
      height: 235px !important; } }
  @media only screen and (min-width: 0) and (max-width: 480px) {
    .fancybox-wrap.wide {
      width: 300px !important;
      height: 178.75px !important; } }

.useageClass .fancybox-skin,
.useageClass .fancybox-outer,
.useageClass .fancybox-inner,
.useageClass .fancybox-image,
.useageClass .fancybox-wrap iframe,
.useageClass .fancybox-wrap object,
.useageClass .fancybox-nav,
.useageClass .fancybox-nav span,
.useageClass .fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
  width: 640px !important;
  height: 300px !important; }
  @media only screen and (min-width: 961px) and (max-width: 1439px) {
    .useageClass .fancybox-skin,
    .useageClass .fancybox-outer,
    .useageClass .fancybox-inner,
    .useageClass .fancybox-image,
    .useageClass .fancybox-wrap iframe,
    .useageClass .fancybox-wrap object,
    .useageClass .fancybox-nav,
    .useageClass .fancybox-nav span,
    .useageClass .fancybox-tmp {
      width: 640px !important;
      height: 300px !important; } }
  @media only screen and (min-width: 769px) and (max-width: 960px) {
    .useageClass .fancybox-skin,
    .useageClass .fancybox-outer,
    .useageClass .fancybox-inner,
    .useageClass .fancybox-image,
    .useageClass .fancybox-wrap iframe,
    .useageClass .fancybox-wrap object,
    .useageClass .fancybox-nav,
    .useageClass .fancybox-nav span,
    .useageClass .fancybox-tmp {
      width: 640px !important;
      height: 300px !important; } }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .useageClass .fancybox-skin,
    .useageClass .fancybox-outer,
    .useageClass .fancybox-inner,
    .useageClass .fancybox-image,
    .useageClass .fancybox-wrap iframe,
    .useageClass .fancybox-wrap object,
    .useageClass .fancybox-nav,
    .useageClass .fancybox-nav span,
    .useageClass .fancybox-tmp {
      width: 400px !important;
      height: 400px !important; } }
  @media only screen and (min-width: 0) and (max-width: 480px) {
    .useageClass .fancybox-skin,
    .useageClass .fancybox-outer,
    .useageClass .fancybox-inner,
    .useageClass .fancybox-image,
    .useageClass .fancybox-wrap iframe,
    .useageClass .fancybox-wrap object,
    .useageClass .fancybox-nav,
    .useageClass .fancybox-nav span,
    .useageClass .fancybox-tmp {
      width: 300px !important;
      height: 500px !important; } }

@media only screen and (min-width: 961px) and (max-width: 1439px) {
  .useageClass {
    width: 640px !important;
    height: 300px !important; } }

@media only screen and (min-width: 769px) and (max-width: 960px) {
  .useageClass {
    width: 640px !important;
    height: 300px !important; } }

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .useageClass {
    width: 400px !important;
    height: 400px !important; } }

@media only screen and (min-width: 0) and (max-width: 480px) {
  .useageClass {
    width: 300px !important;
    height: 500px !important; } }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #e5e5e5;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("/images/shared/fancybox/fancybox_sprite.png"); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("/images/shared/fancybox/fancybox_loading.gif") center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("/images/shared/fancybox/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto; }

.fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("/images/shared/fancybox/fancybox_overlay.png"); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 1.5rem "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("/images/shared/fancybox/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/ }
  #fancybox-loading div {
    background-image: url("/images/shared/fancybox/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/ } }

.mediaPlayer {
  display: inline-block;
  position: relative;
  font-family: 'Segoe UI', Verdana, sans-serif;
  clear: both;
  margin-bottom: 10px;
  line-height: 1.4;
  font-size: 13px;
  border: 1px solid #e6e6e6;
  text-align: center;
  overflow: hidden;
  /* Chrome FIX for full screen */ }
  .mediaPlayer .right {
    float: right; }
  .mediaPlayer .left {
    float: left; }
  .mediaPlayer a.smooth {
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear; }
  .mediaPlayer:hover > .controls {
    bottom: 0; }
  .mediaPlayer:hover > .controls .seekBar a {
    display: block; }
  .mediaPlayer.jp-video-full > .controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: 1000; }
  .mediaPlayer.jp-video-full,
  .mediaPlayer.jp-video-full object,
  .mediaPlayer.jp-video-full video {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    border-width: 0px;
    z-index: 999; }
  .mediaPlayer.jp-video-full > .playerScreen,
  .mediaPlayer.jp-video-full > .playerScreen > .video-play {
    z-index: 1000; }
  .mediaPlayer .playerScreen {
    cursor: pointer; }
    .mediaPlayer .playerScreen .video-play {
      display: block;
      position: absolute;
      z-index: 100;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.4); }
      .mediaPlayer .playerScreen .video-play .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -70px 0 0 -70px;
        display: block;
        width: 140px;
        height: 140px;
        background: url("/images/jplayer/sprite.png") 2px -284px; }
  .mediaPlayer .controls {
    display: block;
    position: absolute;
    height: 40px;
    background: #F5F5F5;
    color: #646464;
    padding: 0;
    z-index: 101;
    left: 0;
    bottom: -44px;
    right: 0;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in; }
    .mediaPlayer .controls .seperator {
      display: inline-block;
      width: 2px;
      height: 40px;
      background: url("/images/jplayer/sprite.png") no-repeat 0 0; }
    .mediaPlayer .controls .progress {
      position: absolute;
      display: block;
      width: 100%;
      top: -6px;
      left: 0;
      background: #323232; }
      .mediaPlayer .controls .progress .seekBar {
        position: relative;
        display: block;
        cursor: pointer;
        padding: 0;
        margin: 0;
        height: 6px;
        background: #646464; }
        .mediaPlayer .controls .progress .seekBar .playBar {
          display: block;
          height: 6px;
          padding: 0;
          background: red; }
        .mediaPlayer .controls .progress .seekBar a {
          display: none;
          position: absolute;
          top: -4px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #4b4b4b;
          border: 1px solid #323232;
          margin-left: -3px; }
          .mediaPlayer .controls .progress .seekBar a div {
            width: 8px;
            height: 8px; }
    .mediaPlayer .controls .play {
      display: block;
      width: 40px;
      height: 40px;
      background: url("/images/jplayer/sprite.png") no-repeat 10px -60px;
      opacity: 0.8; }
      .mediaPlayer .controls .play:hover {
        opacity: 1; }
    .mediaPlayer .controls .volumecontrol {
      display: block;
      width: 40px;
      height: 40px;
      background: url("/images/jplayer/sprite.png") no-repeat 8px -105px;
      opacity: 0.8;
      overflow: hidden;
      word-wrap: none;
      transition: all 0.5s ease-out;
      -webkit-transition: all 0.5s ease-out; }
      .mediaPlayer .controls .volumecontrol:hover {
        opacity: 1;
        width: 115px;
        transition: all 0.1s ease-in;
        -webkit-transition: all 0.1s ease-in; }
    .mediaPlayer .controls .hd-video {
      display: block;
      width: 60px;
      height: 40px;
      background: url("/images/jplayer/sprite.png") no-repeat 10px -147px;
      opacity: 0.8; }
      .mediaPlayer .controls .hd-video.disabled {
        opacity: 0.2; }
      .mediaPlayer .controls .hd-video.enabled:hover {
        opacity: 1; }
    .mediaPlayer .controls .pause {
      display: block;
      width: 40px;
      height: 40px;
      background: url("/images/jplayer/sprite.png") no-repeat -40px -60px;
      opacity: 0.8; }
      .mediaPlayer .controls .pause:hover {
        opacity: 1; }
    .mediaPlayer .controls .timer {
      display: block;
      float: left;
      line-height: 40px;
      margin: 0 10px; }
      .mediaPlayer .controls .timer .current {
        display: inline;
        text-align: left;
        color: #282828; }
      .mediaPlayer .controls .timer .duration {
        display: inline;
        right: 0px;
        text-align: right; }
      .mediaPlayer .controls .timer .seperate {
        display: inline; }
    .mediaPlayer .controls .volumebar {
      display: block;
      margin: 19px 0 0 45px;
      background-color: #EBEBEB;
      background: rgba(0, 0, 0, 0.1);
      width: 60px;
      cursor: pointer; }
      .mediaPlayer .controls .volumebar .currentVolume {
        position: relative;
        height: 5px;
        padding: 0; }
        .mediaPlayer .controls .volumebar .currentVolume .curvol {
          display: block;
          height: 5px;
          padding: 0;
          background: red; }
        .mediaPlayer .controls .volumebar .currentVolume a {
          display: block;
          position: absolute;
          top: -5px;
          margin-left: -2px;
          width: 3px;
          height: 16px;
          background: #7d7d7d; }
          .mediaPlayer .controls .volumebar .currentVolume a div {
            display: block;
            width: 3px;
            height: 16px; }
    .mediaPlayer .controls .fullscreen {
      display: block;
      float: right;
      width: 40px;
      height: 40px;
      background: transparent url("/images/jplayer/sprite.png") no-repeat 8px -191px;
      opacity: 0.4; }
      .mediaPlayer .controls .fullscreen:hover {
        opacity: 0.8; }
    .mediaPlayer .controls .smallscreen {
      display: block;
      float: right;
      width: 40px;
      height: 40px;
      background: transparent url("/images/jplayer/sprite.png") no-repeat 8px -229px;
      opacity: 0.4; }
      .mediaPlayer .controls .smallscreen:hover {
        opacity: 0.8; }
  .mediaPlayer.audioPlayer .hd-video {
    display: none; }
  .mediaPlayer.audioPlayer .seperator.right {
    display: none; }
  .mediaPlayer.audioPlayer .fullScreen {
    display: none; }
  .mediaPlayer.audioPlayer .fullScreenOFF {
    display: none; }

.mediaPlayer.darkskin {
  border-color: #373737; }
  .mediaPlayer.darkskin .controls {
    background: #191919; }
    .mediaPlayer.darkskin .controls .volumebar {
      background: rgba(255, 255, 255, 0.1); }
      .mediaPlayer.darkskin .controls .volumebar .currentVolume a {
        background: gainsboro; }
    .mediaPlayer.darkskin .controls .progress .seekBar {
      background: #646464; }
    .mediaPlayer.darkskin .controls .timer .current {
      color: #e6e6e6; }
    .mediaPlayer.darkskin .controls .timer .duration {
      color: #787878; }
    .mediaPlayer.darkskin .controls .timer .seperate {
      color: #787878; }
  .mediaPlayer.darkskin .playerScreen .video-play .play-icon {
    background-image: url("/images/jplayer/sprite-dark.png"); }
  .mediaPlayer.darkskin .controls .seperator {
    background-image: url("/images/jplayer/sprite-dark.png"); }
  .mediaPlayer.darkskin .controls .fullscreen {
    background-image: url("/images/jplayer/sprite-dark.png"); }
  .mediaPlayer.darkskin .controls .smallscreen {
    background-image: url("/images/jplayer/sprite-dark.png"); }
  .mediaPlayer.darkskin .controls .play {
    background-image: url("/images/jplayer/sprite-dark.png"); }
  .mediaPlayer.darkskin .controls .pause {
    background-image: url("/images/jplayer/sprite-dark.png"); }
  .mediaPlayer.darkskin .controls .hd-video {
    background-image: url("/images/jplayer/sprite-dark.png"); }
  .mediaPlayer.darkskin .controls .volumecontrol {
    background-image: url("/images/jplayer/sprite-dark.png"); }

.block-red h3,
.block-blue h3,
.block-yellow h3,
.block-black h3 {
  text-transform: uppercase; }

.head {
  position: relative; }
  .head .inner {
    position: relative;
    top: 0; }
    .head .inner .overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      opacity: 0; }

.usage p, .usage ul li {
  color: #000000;
  font-size: 16px;
  line-height: 110%; }

.usage ul {
  padding-left: 30px;
  list-style: disc; }
  .usage ul li {
    margin-bottom: 8px; }

.toothpainVideos .columns {
  margin-top: 30px;
  margin-bottom: 0; }
  @media only screen and (min-width: 769px) and (max-width: 960px) {
    .toothpainVideos .columns {
      margin-top: 15px; } }
  @media only screen and (min-width: 961px) and (max-width: 1439px) {
    .toothpainVideos .columns {
      margin-top: 22.5px; } }
  @media only screen and (min-width: 0) and (max-width: 768px) {
    .toothpainVideos .columns {
      margin-top: 15px; } }
  .toothpainVideos .columns .bg {
    float: left;
    width: 100%; }
  .toothpainVideos .columns .text {
    position: absolute;
    bottom: 10%;
    right: 30px; }
    .toothpainVideos .columns .text.middle {
      left: 50%;
      right: auto;
      will-change: transform;
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    .toothpainVideos .columns .text.ninja {
      width: 40%; }
    .toothpainVideos .columns .text.hero {
      width: 50%; }
    .toothpainVideos .columns .text.wrestler {
      width: 58%; }
    .toothpainVideos .columns .text a.fancybox {
      display: inline-block;
      padding: 0.8rem 2rem;
      font-size: 1.5rem;
      line-height: 110%;
      -webkit-border-radius: 0.5rem;
      border-radius: 0.5rem;
      text-transform: uppercase;
      background-color: #000000;
      font-weight: bold;
      color: #FFFFFF;
      margin-right: 1rem;
      text-align: center; }
      @media only screen and (min-width: 769px) and (max-width: 960px) {
        .toothpainVideos .columns .text a.fancybox {
          font-size: 2rem;
          padding: 1.6rem 4rem;
          -webkit-border-radius: 1rem;
          border-radius: 1rem; } }
      @media only screen and (min-width: 481px) and (max-width: 768px) {
        .toothpainVideos .columns .text a.fancybox {
          font-size: 0.8rem;
          padding: 0.8rem 2rem;
          -webkit-border-radius: 0.6rem;
          border-radius: 0.6rem; } }
      @media only screen and (min-width: 0) and (max-width: 480px) {
        .toothpainVideos .columns .text a.fancybox {
          font-size: 0.6rem;
          padding: 0.3rem 1.2rem;
          -webkit-border-radius: 0.4rem;
          border-radius: 0.4rem;
          white-space: nowrap; } }
      .toothpainVideos .columns .text a.fancybox:hover {
        color: #cccccc; }
