.carousel {
	background-color:#aa1920;

	&.smallPadding {
		padding-bottom: 100%;
	}
	
	&.largePadding {
		padding-bottom: 46%;
	}

	.shim {
		float:left; clear:both;
	}
	
	
	.carousel-inner {
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		
		&.animate > .pane {
			@include transition-this(transform, 300ms);
		}
		
		.pane {
			position:absolute;
			width:100%;
			@include gpuAccelerate(transform);

			@media #{$small-only} {
				padding-bottom:2rem;
			}
			
			img {
				width:100%;
			}
			
			.wtb {
				position:absolute;
				left:50%;
				bottom:5rem;
				@include translateX();
				background-color:$black;
				color:$white;
				text-align:center;

				@media #{$large-only} {
					bottom:6rem;
				}

				@media #{$medium-only} {
					bottom:1rem;
				}

				@media #{$small-only} {
					bottom:1rem;
				}

				&:hover {
					color:darken($white,40%);
				}
			}
		}
	}
	
	.carousel-control {
		position:absolute;
		list-style:none;
		left:50%; bottom:1.5rem;
		@include translateX();
		text-align: center;
		width:auto;
		height:17px;
		z-index:10;
		
		

		@media #{$medium-only} {
			bottom:1rem;
		}

		@media #{$small-only} {
			right: 10px;
			@include translateX(0);
			bottom:1rem;
			text-align:right;

			&:last-child {
				margin-right:1rem;
			}
		}

		li {
			//float:left;
			//background-image:url(/images/home/carousel-markers.png);
			
			display:inline-block;
			width:17px; height:17px;
			margin-right:10px;
			background-color: black;
			background-size:34px 17px;
			@include border-radius(50%);
			@include gpuAccelerate(background-color);
			@include transition-this(background-color, 0.3s, ease-in-out);
			cursor:pointer;

			@media #{$small-and-medium-only} {
				width:13px; height:13px;
				background-size:26px 13px;
				margin-right:7px;
				
				&:last-child {
					margin-right:-2px;
				}
			}
			
			&.active {
				//background-position:-17px 0;
				
				background-color: white;
				cursor:default;

				//@media #{$small-and-medium-only} {
				//	background-position:-13px 0;
				//}
			}
		}
	}
}